[worldserver]

########################################
# SetXpBar configuration
########################################
#
#    SetXpBar.Enable
#        Description: Enable or disable the SetXpBar module.
#        Default:     1 - Enabled
#                     0 - Disabled
#

SetXpBar.Enable = 1